<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <title>Curso de HTML e CSS Básico - HTML e CSS Pro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
  </head>
  <body>

    <!-- Start Header -->
    <header class="header fixed">
      <div class="content">
        <div class="logo fl-left">
          <a href="#">
            <img src="static/pages/images/logo.png" alt="HTML e CSS Pro"/>
          </a>
        </div>
        <a href="#" class="nav-toggle fl-right">
          <i class="fas fa-beer"></i> MENU
        </a>
        <nav class="nav">
          <p class="text-center">
            <span class="nav-close">
              <i class="fas fa-times"></i>
            </span>
          </p>
          <ul>
            <li><a href="#">Barcos e Lanchas</a></li>
            <li><a href="#">Destaques</a></li>
            <li><a href="#">Testemunhas</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Start Search and Statistics -->
    <section class="section">
      <!-- Em css quando tem traço no nome da classe, quando chamado o nome apenas antes do traço vale pra todas com esse nome -->
      <div class="search-box">
        <header>
          <h1>Lorem Ipsum placeholder</h1>
          <p class="tagline">Commonly used in the graphic</p>
        </header>
        <form name="formsearch" method="POST" action="">
          <input type="search" name="busca" id="busca" placeholder="Pesquisar"/>
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="estatisticas">
        <div class="estatisticas-item">
          <span>2,500</span>
          <p>Loren</p>
        </div>
        <div class="estatisticas-item">
          <span>10,000</span>
          <p>Ipsum</p>
        </div>
        <div class="estatisticas-item">
          <span>1,500</span>
          <p>Dolor</p>
        </div>
        <div class="estatisticas-item">
          <span>15,000</span>
          <p>Sit amet</p>
        </div>
      </div>
    </section>
    <!-- End Search and Statistics -->
    
    <!-- Start destinos -->
    <section class="section">
      <div class="content">
        <header class="section-header">
          <h1>ESCOLHA SEU DESTINO PREFERIDO</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        </header>
        <div class="row">
          <!-- Start imagem 1 -->
          <div class="destinos-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="images/destino-1.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 1 -->
          <!-- Start imagem 2 -->
          <div class="destinos-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destino-2.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 2 -->
          <!-- Start imagem 3 -->
          <div class="destinos-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destino-3.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 3 -->
          <!-- Start imagem 4 -->
          <div class="destinos-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destino-4.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 4 -->
          <!-- Start imagem 5 -->
          <div class="destinos-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destino-5.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 5 -->
          <!-- Start imagem 6 -->
          <div class="destinos-col">
              <div class="box">
                <div class="box-name">
                  Lanchas
                </div>
                <div class="box-cover">
                  <img src="media/images/destino-6.jpg" alt=""/>
                </div>
                <div class="box-detalhes">
                  <div class="box-detalhes-info">
                    <h1>Figueira da Fox</h1>
                    <p>Portugal</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Imagem 6 -->
            <!-- Start imagem 7 -->
          <div class="destinos-col">
              <div class="box">
                <div class="box-name">
                  Lanchas
                </div>
                <div class="box-cover">
                  <img src="media/images/destino-7.jpg" alt=""/>
                </div>
                <div class="box-detalhes">
                  <div class="box-detalhes-info">
                    <h1>Figueira da Fox</h1>
                    <p>Portugal</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Imagem 7 -->
            <!-- Start imagem 8 -->
          <div class="destinos-col">
              <div class="box">
                <div class="box-name">
                  Lanchas
                </div>
                <div class="box-cover">
                  <img src="media/images/destino-8.jpg" alt=""/>
                </div>
                <div class="box-detalhes">
                  <div class="box-detalhes-info">
                    <h1>Figueira da Fox</h1>
                    <p>Portugal</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Imagem 8 -->
        </div>
      </div>
    </section>
    <!-- End destinos -->
    
    <!-- Start carregar mais -->
    <section class="section">
      <div class="content text-center">
        <button class="loadmore">CARREGAR MAIS</button>
      </div>
    </section>
    <!-- End carregar mais -->
    
    <!-- Start parallax -->
    <div class="parallax">
      <div class="content">
        <h1>ENCONTROU O SEU BARCO PREFERIDO?</h1>
        <P>Lorem ipsum dolor sit amet, consectetur adipiscing</P>
        <button>SAIBA MAIS</button>
      </div>
    </div>
    <!-- End parallax -->
    
    <!-- Start destaques -->
    <section class="section">
      <div class="content">
        <header class="section-header">
          <h1>DESTAQUES</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </header>
        <div class="row">
          <!-- Start imagem 1 -->
          <div class="destaques-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destaque-1.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 1 -->
          <!-- Start imagem 2 -->
          <div class="destaques-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destaque-2.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 2 -->
          <!-- Start imagem 3 -->
          <div class="destaques-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destaque-3.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 3 -->
          <!-- Start imagem 4 -->
          <div class="destaques-col">
            <div class="box">
              <div class="box-name">
                Lanchas
              </div>
              <div class="box-cover">
                <img src="media/images/destaque-4.jpg" alt=""/>
              </div>
              <div class="box-detalhes">
                <div class="box-detalhes-info">
                  <h1>Figueira da Fox</h1>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Imagem 4 -->
        </div>
      </div>
    </section>
    <!-- End destaques -->

    <!-- Start carregar mais -->
    <section class="section">
      <div class="content text-center">
        <button class="loadmore">CARREGAR MAIS</button>
      </div>
    </section>
    <!-- End carregar mais -->

    <!-- Start testemunhas -->
    <section class="section testemunhas">
      <div class="content">
        <header class="section-header">
          <h1>TESTEMUNHAS</h1>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </header>
        <!-- Start testemunha 1 -->
        <article class="testemunhas-article">
          <h1>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</h1>
          <span class="image"><img src="media/images/testemunha-01.jpg"/></span>
          <p>
            <span class="name">Jane Doe</span>
            <span>CEO - Facebook</span>
          </p>
        </article>
        <!-- End testemunha 1 -->
        <!-- Start testemunha 2 -->
        <article class="testemunhas-article">
            <h1>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</h1>
            <span class="image"><img src="media/images/testemunha-02.jpg"/></span>
            <p>
              <span class="name">Jane Doe</span>
              <span>CEO - Facebook</span>
            </p>
          </article>
          <!-- End testemunha 2 -->
          <!-- Start testemunha 3 -->
        <article class="testemunhas-article">
            <h1>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</h1>
            <span class="image"><img src="media/images/testemunha-03.jpg"/></span>
            <p>
              <span class="name">Jane Doe</span>
              <span>CEO - Facebook</span>
            </p>
          </article>
          <!-- End testemunha 3 -->
      </div>
    </section>
    <!-- End testemunhas -->

    <!-- Start footer -->
    <footer class="footer">
      <div class="content">
        <div class="footer-col">
          <h1>Sobre a empresa</h1>
          <p>
            Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non 
            faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan 
            varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus 
            vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. 
            Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.
          </p>
        </div>

        <div class="footer-col">
          <h1>Links úteis</h1>
          <ul class="links-uteis">
            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h1>Social</h1>
          <ul class="social">
            <li>  <a href="#">  <i class="fab fa-twitter">    </i>  Twitter   </a>  </li>
            <li>  <a href="#">  <i class="fab fa-facebook-f"> </i>  Facebook  </a>  </li>
            <li>  <a href="#">  <i class="fab fa-instagram">  </i>  Instagram </a>  </li>
          </ul>
        </div>
        
        <div class="row footer-autorais">
          <p>Powered by Gabriel Sá</p>
        </div>

      </div>
    </footer>
    <!-- End footer -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/scripts.js"></script>
  </body>
</html>